{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1 id="title">All Posts</h1>

    <div id="profile-container">
    </div>

    {% if user.is_authenticated %}
        <div class="all-posts" id="post-form-container">
            <div id="new-post-view">
                <form id="post-form">
                    <div style="font-size: 24px; margin-bottom: 12px;"><strong>New Post</strong></div>
                    <textarea class="form-control" id="post-body" placeholder=""></textarea>
                    <input type="submit" class="btn btn-primary" value="Post" style="margin-top: 6px;"/>
                </form>
            </div>
        </div>
    {% endif %}

    <div id="post-container">
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
