{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1 id="title">All Posts</h1>

    <div id="profile-container">
    </div>

    {% if user.is_authenticated %}
        <div class="all-posts" id="post-form-container">
            <div id="new-post-view">
                <form id="post-form">
                    <div style="font-size: 24px; margin-bottom: 12px;"><strong>New Post</strong></div>
                    <textarea class="form-control" id="post-body" placeholder=""></textarea>
                    <input type="submit" class="btn btn-primary" value="Post" style="margin-top: 6px;"/>
                </form>
            </div>
        </div>
    {% endif %}

    <div id="post-container">
    </div>

    <div id="pagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" id="previous-page" tabindex="-1" aria-hidden="true">&lt</a>
            </li>
            <li class="page-item disabled">
                <span id="page-number">Page 1 of 1</span>
            </li>
            <li class="page-item">
                <a class="page-link" id="next-page">&gt</a>
            </li>
        </ul>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
