.all-posts, .post {
    padding: 12px;
    border-style: solid;
    border-color: #777777;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 6px;
}

.post-title {
    cursor: pointer;
}

h1 {
    margin: 24px;
}

.heart-icon {
    color: red;
}

#profile-nav-link, #following-nav-link {
    cursor: pointer;
}

#follow-button {
    margin-left: 24px;
}

.list-group-item {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 6px;
}